[submodule "third_party/AReaL"]
	path = third_party/AReaL
	url = https://github.com/inclusionAI/AReaL.git
[submodule "third_party/agentm"]
	path = third_party/agentm
	url = git@github.com:Lincyaw/AgentM.git
